
<div class="column row">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4">
		<h2>CHOOSE A DIFFICULTY</h2>
		<img ui-sref="q-page" ng-click="makeEasy()" width="400" height="150" src="https://s-media-cache-ak0.pinimg.com/736x/f1/18/22/f118229f460a739966a1cb19d10a1fb7.jpg">
		<img ui-sref="q-page" ng-click="makeMedium()" width="400" height="150" src="https://i.imgur.com/NPl4jwm.png">
		<img ui-sref="q-page" ng-click="makeHard()" width="400" height="150" src="http://profilerehab.com/facebook_covers/tv_shows/Winter_is_Coming_cover_2.jpg">
	</div>
	<div class="col-lg-4"></div>
</div>
